#titleP {
    color: rgb(239, 129, 148);
}


div.apcP {
    float: right;
}


div.astroDivA {
    margin-bottom: 2%;
}


div.blocksP {

    border: 5px outset orchid;
    text-align: center;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

div.callC {
    background-color: rgb(144, 212, 248);
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}


div.emailC {
    background-color: rgb(144, 212, 248);
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}


div.smsC {
    background-color: rgb(144, 212, 248);
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}


div.tsP {
    background-color: rgb(144, 212, 248);
    height: 70%;
    margin: 10%;
    margin-bottom: 4%;
    padding-top: 0.5%;
    text-align: center;
    width: 25%;
}


footer {
    float: bottom;

}

h3.callhC {
    color: rgb(239, 129, 148);
}

h3.emailhC {
    color: rgb(239, 129, 148);
}

h3.smshC {
    color: rgb(239, 129, 148);
}


html {
    background-color: rgb(20, 8, 13);
    color: white;
}


img.astroImageA {
    float: left;
    margin: 25px;
    width: 450px;
}

img.callImageC {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

img.emailImageC {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

img.smsImageC {
    height: 300px;
    object-fit: cover;
    width: 100%;
}


img.imgbP {
    height: 200px;
    width: 290px; 
}


p.astroParagrahA {
    font-size: 25px;
    text-align: justify;
}


td.btdP {
    border: 1px outset orchid;
    padding: 4px;
}


td.btd3P {
    border: 1px outset orchid;
    text-align: right;
}


th.bthP {
    background-color: orchid;
    border: 2px outset gold;
    width: 20%;
}


td.btd2P {
    border :1px outset orchid;
}

@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;
    }
}
